body {
  margin: 0;
  padding: 0;
}

.logoIcon* {
  display: inline-block;
}

.logoIcon80 {
  background-image: url("../images/exo-icon-80.png");
}

.logoIcon32 {
  background-image: url("../images/exo-icon-32.png");
}

#outlook-pane {
  min-height: 450px;
  position: relative;
  height: 100vh;
  background-color: white;
}

#outlook-pane input {
  border-radius: 0px !important;
  box-shadow: none !important;
}

#outlook-pane .ms-NavBar-items {
  z-index: 10;
}

#outlook-brand-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 70;
}

/* It is a workaround to do not show dropdown in right-upper corner in task pane of Outlook for Windows/Web */
@media ( min-width : 280px) {
  #outlook-pane .ms-Dropdown-items {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    max-width: 100%;
  }
  #outlook-pane .ms-Dropdown.ms-Dropdown--open .ms-Dropdown-items, #outlook-pane .ms-Dropdown.is-open .ms-Dropdown-items {
    position: absolute;
  }
}

/* Error banner (common) */
.error-message>.ms-MessageBanner {
  min-width: 290px;
  background-color: #fde7e9;
  color: #a80000;
}

.error-message button.ms-MessageBanner-close {
  margin-left: 25px;
  width: 25px;
}

.openPortalLink {
  margin-top: 20px;
}

/* Login/Welcome page */
.featureCheck {
  max-width: 25px;
}

.welcomeHeader {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
}

.welcomeIcon {
  margin-top: 15px;
}

.brandBar {
  margin: 6px 15px;
  padding: 0px;
  list-style: none;
}

.brandBar a, .brandBar a:visited {
  text-decoration: none;
}

.brand, .showLogout {
  display: inline-block;
}

.brandTitle {
  vertical-align: middle;
}

.showLogout {
  float: right;
  margin-top: 2px;
  margin-bottom: 12px;
}

.showLogoutTitle {
  vertical-align: text-bottom;
}

.showLogoutIcon {
  float: right;
  margin-left: 3px;
  margin-top: 3px;
}

.firstFeatureRow {
  margin-top: 10px;
}

.menuRefresh, .editMessageText {
  margin-left: 3px;
}

.spacesDropdown {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#signInProgress {
  height: 450px;
  width: 100%;
}

.signingIn {
  width: 100%;
  position: relative;
  margin: auto;
  top: 25%;
}

.progressSpinner {
  width: 28px;
}

.progressSpinner > .ms-Spinner-circle {
  background-color: #b5b7b9;
}

/* Portlet */
#outlook-menu-container {
  padding-bottom: 50px;
}

#outlook-menu-container .ms-Grid {
  padding: 0px;
}

#outlook-menu-container .ms-Grid .ms-Grid-col {
  padding-left: 0px;
  padding-right: 0px;
}

/*
@media (min-width : 480px) {

}*/

span[disabled] {
  pointer-events: none;
}

.attachments .attachmentSize, .folders .lastModified {
  top: 5px !important;
}

.attachments .ms-ListItem, .folders .ms-ListItem {
  padding-top: 6px !important;
}

.ms-ListItem-primaryText {
  font-size: 14px !important;
  top: -2px !important;
}

.ms-ListItem.is-selected:before, .ms-ListItem.is-selected:hover:before {
  top: auto !important;
}

.ms-ListItem.is-selectable:hover:before {
  top: auto !important;
}

.ms-Grid-row .ms-TextField-field, .ms-Grid-row .ms-Dropdown {
  margin-bottom: 0px;
}

.savingSpaceTitle, .savedSpaceTitle {
  padding-bottom: 15px;
}

#savedAttachment .ms-Icon {
  padding-right: 10px;
}

#outlook-saveAttachment fieldset {
  min-width: initial;
}

.selectableItem:hover {
  cursor: pointer;
  background-color: #eaeaea;
  outline: 1px solid transparent;
}

.pathInfo {
  font-size: 14px !important;
  display: block !important;
}

#path-info>.ms-ListItem {
  padding-left: 0px;
  padding-right: 0px;
}

.currentFolder .pathControls {
  top: 25px !important;
  right: 5px !important;
}

.text-centered {
  text-align: center;
}

.centered {
  min-width: 150px;
  max-width: 450px;
  margin: 0 auto;
}

div.form-buttons {
  marging-top: 10px;
}

.documentSelectorTab {
  padding-top: 0px;
}

.documentSelectorContent {
  min-height: 75px;
  max-height: 175px;
  border-width: 1px;
  border-style: solid;
  min-height: 125px;
  border-top-style: none;
  overflow: scroll;
}

.documentSearch .ms-SearchBox, .documentSearch .ms-SearchBox-field {
  width: 100%;
}

.documentSearch .ms-SearchBox {
  margin-bottom: 0px;
}

.searchableDropdownBox .ms-SearchBox, .dropdownSearch .ms-SearchBox-field {
  width: 100%;
}

.searchableDropdownBox .ms-SearchBox {
  margin-bottom: 0px;
}

.searchableDropdownBox .dropdownSearch {
  padding-right: 31px;
  height: 30px;
}

.searchableDropdownBox .ms-SearchBox-closeButton {
  margin-right: 31px;
  height: 30px;
}

.searchableDropdownBox .sourceDropdown {
  margin-top: -31px;
}

.searchableDropdownBox .ms-SearchBox-field {
  border: none;
  height: 30px;
  margin-left: 1px;
}

.searchableDropdownBox .ms-Dropdown-items:before {
  border: none;
}

#documentSelector .pathControls, #attach .documents .pathControls {
  top: 5px !important;
  right: 5px !important;
}

#documentSelector .ms-ListItem-primaryText, #attach .documents .ms-ListItem-primaryText, #attached .documents .ms-ListItem-primaryText {
  padding-right: 0px;
}

.groupPath .currentFolder li, .documentExplorer .currentFolder li {
  padding: 0px !important;
}

.documentExplorer .currentFolder .ms-ListItem-primaryText {
  margin: 0px;
  top: 0px !important;
}

.documentExplorer .currentFolder .ms-ListItem-primaryText input {
  font-size: 12px !important;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 40px;
  border-color: #71afe5;
}

.documentSelectorContent .ms-ListItem {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 0px;
}

/* This style adapted from .ms-ListItem.isFolder.is-selected */
.documentSelectorContent .ms-ListItem.isFolder:before, .documentSelectorContent .ms-ListItem.isFolder:hover:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Office365Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  content: '\e014';
  font-size: 15px;
  color: #767676;
  position: absolute;
  top: 6px;
  left: 6px;
}

#attached .documents .ms-ListItem {
  padding-left: 7px;
  padding-right: 7px;
}

#attached .documents .ms-ListItem-primaryText i {
  margin-right: 5px;
}

#attached .documents .ms-ListItem-tertiaryText {
  margin-bottom: -4px;
  padding-right: initial;
  top: -5px;
  margin-bottom: 0px;
  font-size: 11px;
}

.messageText {
  height: 125px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  z-index: 0;
}

.messageText:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 25px, white);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 25px, white);
}

.messageEditor, .messageEditorContainer>.messageText, .statusText, .topicText {
  height: 200px;
  overflow: hidden;
  padding: 0px;
}

.messageEditor, .messageEditorContainer>.messageText {
  max-height: 250px;
}

.messageSubject, .messageEditorContainer>input[name='messageSubject'] {
  margin-bottom: -1px !important;
}

div.messageSubject {
  font-size: 1.0em;
  height: 2.4em;
  overflow: hidden;
}

.messageText > iframe, .messageEditor > iframe {
  width: 100%;
  height: 100%;
}

.messageEditor > iframe {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: hidden;
}

.statusText, .topicText {
  max-height: 75px;
  padding: 10px;
  line-height: 14px;
}

.placeholderField {
  margin-bottom: 0px;
}

.placeholderField label.ms-Label {
  pointer-events: none;
  padding-top: 7px !important;
}

#outlook-pane .ms-MessageBar {
  display: block;
}

.outlookMenu {
  padding-right: 5px;
}

#outlook-menu .ms-ContextualMenu {
  min-width: 200px;
}

textarea[name='activityTitle'], textarea[name='comment'] {
  height: 64px;
  box-shadow: none !important;
  border-color: initial !important;
}

#outlook-pane .ms-TextField-field:focus {
  border-color: #0078d7 !important;
}

/* Search panel */

.searchContainer {
  min-height: 350px;
}

/* User panel */

.ms-Persona-image-userInfo {
  background: #eaeaea;
  border: 3px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  width: 150px;
}

.ms-TextField-organization {
  margin: 0 0 1px;
  padding-left: 10px;
  text-align: left;
}

.ms-TextField-businessInfo {
  margin: 0 0 1px;
  text-align: left;
  padding-left: 10px;
}

.ms-TextField-homeInfo {
  margin: 0 0 1px;
  text-align: left;
  padding-left: 10px;
}

.activity-body {
  font-style: oblique;
  margin-left: 5px;
}

.activity-title {
  width: 74%;
  font-family: "wf_segoe-ui_semilight", "Segoe UI Semilight", "Segoe WP Semilight", "Segoe UI", "Segoe WP", Tahoma, Arial,
    sans-serif;
}

.activity {
  background: #ffffff;
  border: 1px double white;
  text-align: left;
  position: relative;
  padding: 0px;
}

.activity:hover {
  background: #edebe9;
}

.out-box {
  width: 95%;
}

.infobox {
  width: 90%;
  background: #e1e2e8;
}

.a-link:hover {
  color: #0078d7;
}

#outlook-userInfo .activity .postedDate {
  text-align: right;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  width: 80px;
  bottom: 3px;
  /*z-index: 1;*/
}

#outlook-userInfo .ms-OrgChart-listItem {
  height: 50px;
  width: 95%;
  position: relative;
  list-style: none;
  margin: 8px;
  border-bottom: 1px solid #c8c8c8;
  padding: 0 0 3px 0;
  top: 1px;
}

#outlook-userInfo .ms-OrgChart {
  margin-bottom: 40px;
}

#outlook-userInfo .ms-PersonaCard {
  position: relative;
  /*z-index: 1;*/
}

#outlook-userInfo .ms-PersonaCard-action, #outlook-userInfo .ms-PersonaCard-overflow {
  padding: 0 5px;
}

#outlook-userInfo .ms-PersonaCard-detailOrg .detail-5 {
  /*max-height: 200px;*/
}

#outlook-userInfo .ms-PersonaCard-detailOrg, #outlook-userInfo .ms-PersonaCard-detailChat {
  /*overflow-y: auto;*/
  /*z-index: 9;*/
}

#outlook-userInfo .ms-PersonaCard-detailOrg {
  /*overflow-y: auto;*/
}

#outlook-userInfo .ms-PersonaCard-detailChat {
  margin-left: 0;
}

#outlook-userInfo .ms-PersonaCard-detailPhone {
  margin-left: -200%;
}

#outlook-userInfo .ms-PersonaCard-detailVideo {
  margin-left: -300%;
}

#outlook-userInfo .ms-PersonaCard-detailMail {
  margin-left: -400%;
}

#outlook-userInfo .ms-PersonaCard-detailOrg {
  margin-left: -100%;
}

#outlook-userInfo .ms-PersonaCard-detailPhone .detail-6, #outlook-userInfo .ms-PersonaCard-detailVideo .detail-6, #outlook-userInfo .ms-PersonaCard-detailMail .detail-6 {
  min-height: 100px;
  max-height: 210px;
  transition: max-height 0.25s ease;
}

#outlook-userInfo .ms-PersonaCard-detailChat .detail-6, #outlook-userInfo .ms-PersonaCard-detailOrg .detail-6 {
  /*max-height: 320px;*/
  transition: max-height 0.25s ease;
  padding: 9px 2px 9px 0;
  width: 22%; /* TODO solve this crap better */
}

#outlook-userInfo .ms-PersonaCard-actionDetailBox {
  height: max-content;
}

@media ( min-width : 480px) {
  #outlook-userInfo .ms-PersonaCard {
    /*max-width: 90%;*/
    /*width: 80%;*/
    /*margin: 0 auto;*/
  }
}

@media ( max-width : 480px) {
  #outlook-userInfo .ms-Persona-imageArea, #outlook-userInfo .ms-Persona-image, #outlook-userInfo .ms-Persona-imageArea,
    #outlook-userInfo .ms-Persona-image {
    /*min-height: 48px;*/
    /*min-width: 48px;*/
    /*width: 100%;*/
    /*height: auto;*/
  }
}

#outlook-userInfo .ms-Persona-image {
  /*width: 100%;*/
  /*height: auto;*/
  /*min-width: 48px;*/
  /*min-height: 48px;*/
}

#outlook-userInfo .ms-PersonaCard-persona .ms-Persona .ms-Persona-image {
  /*min-height: 80px;*/
  /*min-width: 80px;*/
  /*width: 100%;*/
  /*height: auto;*/
}

#outlook-userInfo .ms-PersonaCard-actionDetailBox:before {
  content: "";
  z-index: 999;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 30%, white);
}

#outlook-userInfo .activities-list {
  /*margin-bottom: 40px;*/
}

.ms-Persona-initials.ms-Persona-initials--darkBlue {
  /*width: 48px;*/
}

.ms-PersonaCard-detailLine-phone {
  /*color: #333333;*/
  /*line-height: 23px;*/
}

.ms-personaCard-actionDetails {
  padding: 10px 10px;
}

.ms-PersonaCard-actionDetailBox .contact-detail {
  overflow-x: auto;
}

.map-table {
  table-layout: fixed;
}

.map-table-title {
  width: 60px;
}

.map-table-value {
  width: 150px;
}

.map-table td {
  vertical-align: top;
}

.personalIms .map-table-title {
  width: 70px;
}

.for-addressee {
  margin: 0 -15px 0 -15px;
}

.less-details {
  padding: 0 5px 0 5px;
}

.less-details .ms-Persona-primaryText, .less-details .ms-Persona-secondaryText {
  width: 180px;
  text-align: left;
}

.compose {
  display: contents;
}

.compose ul {
  text-align: left;
}

.compose .ms-Persona {
  /*padding: 5px 0;*/
  display: flex;
  align-items: center;
}

.ms-Persona .ms-Button {
  min-width: 0;
  padding: 0 0 0 5px;
}

.button-panel {
  display: inline-flex;
}

.ms-PersonaCard-action.is-active:after, .is-active.ms-PersonaCard-overflow:after {
  left: 9px;
}

.content-det {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.add-btn {
  display: block;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  transition: 0.5s;
  margin: 0 5px;
}

.menu-btn, .plus-btn, .menu-btn-overlay {
  transition: 0.5s;
  font-size: x-large;
}

.add-btn span {
  position: absolute;
  top: 50%; margin-top: -4px;
  left: 50%; margin-left: -1px;
  width: 3px;
  height: 14px;
  background-color: #0078d7;
  transition: 0.5s;
}

.add-btn span::before{
  background-color: #0078d7;
  width: 3px;
  position: absolute;
  content: '';
  display: block;
  height: 14px;
  transform: rotate(90deg);
}

.activeMenu-btn {
  transform: rotate(180deg);
}

.activeAdd-btn span {
  transform: rotate(90deg);
}

.activeAdd-btn span::before {
  transform: rotate(0deg);
}

.ms-CommandBarSearch {
  max-width: 280px;
  width: 280px;
}

.ms-CommandBarSearch input {
  padding: 0 0 0 40px;
}
.ms-Sialog-Compose {
  display: flex;
}
.ms-Persona-compase {
  display: contents;
}

#detailList {
  display: flex;
}

.activeBigPlus {
  transform: rotate(45deg);
}

.userinfo-title {
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-align: left;
}

.userinfo-title .button-panel {
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #0078d7;
}

.ms-Overlay--dark {
  top: 125px;
}

#outlook-userInfo .ms-CommandBar {
  margin: 15px 0;
}

.recipientForm {
  transition: 0.5s;
}

.activeRecipient {
  opacity: 0.2;
  pointer-events: none;
  background: #CCC;
}

.connections {
    position: relative;
    transition: 2s;
}

.compose-Persona {
  margin: 10px 15px 10px 0;
}

.currentFolder .pathControls .ms-ListItem-action .ms-Icon {
  vertical-align: middle;
}

#UIPortalApplication #UIPLFFooterwlcmScreen #WLCFooter .footerWLC {
  bottom: 35px;
}

#outlook-userInfo .ms-OrgChart-listItem {
  border-bottom: none;
}

.default-user-icon {
  color: #c8c8c8;
  margin-left: -7px;
  background-color: white;
  font-size: 60px;
}

.ms-Persona-primaryText {
  width: unset;
}

#outlook-error .ms-MessageBanner-content {
  padding-left: 3px;
}

#outlook-error .ms-MessageBanner-text {
  width: 60%;
}

#outlook-error .ms-MessageBanner-clipper {
  width: 100% !important;
}

#outlook-error .ms-MessageBanner-expand {
  margin-top: 2px;
  margin-left: 4px;
}

#outlook-error .ms-MessageBanner-content .ms-MessageBanner-clipper span {
  word-wrap: break-word;
}

.dialogShadow {
  top: 0;
}

#NavigationPortlet, #UITopBarContainerParent {
  display: none;
}
