body {
	margin: 0;
	padding: 0;
}

#outlook-pane input {
	border-radius: 0px !important;
	box-shadow: none !important;
}

/* Error banner (common) */
#outlook-error>div.ms-MessageBanner {
	min-width: 290px;
}

#outlook-error button.ms-MessageBanner-close {
	margin-left: 25px;
	width: 25px;
}

.openPortalLink {
	margin-top: 20px;
}

/* Login/Welcome page */
.featureCheck {
	max-width: 25px;
}

.welcomeHeader {
	padding-left: 2px;
	padding-right: 2px;
}

.firstFeatureRow {
	margin-top: 10px;
}

#signInProgress {
	height: 450px;
	width: 100%;
}

.signingIn {
	width: 100%;
	position: relative;
	margin: auto;
	top: 35%;
}

.progressSpinner {
	width: 28px;
}

.progressSpinner>.ms-Spinner-circle {
	background-color: #ffb900;
}

/* Portlet */
#outlook-menu-container {
	margin-bottom: 10px;
}

span[disabled] {
	pointer-events: none;
}

.attachments .attachmentSize, .folders .lastModified {
	top: 5px !important;
}

.attachments .ms-ListItem, .folders .ms-ListItem {
	padding-top: 6px !important;
}

.ms-ListItem-primaryText {
	font-size: 14px !important;
	top: -2px !important;
}

.ms-ListItem.is-selected:before, .ms-ListItem.is-selected:hover:before {
	top: auto !important;
}

.ms-ListItem.is-selectable:hover:before {
	top: auto !important;
}

.uiIconError {
	background: url("/eXoResources/skin/images/Icons/uiIconColor.png") no-repeat scroll left top transparent;
	margin-left: 20px;
}

.uiIconWarning {
	background: url("/eXoResources/skin/images/Icons/uiIconColor.png") no-repeat -20px top transparent;
	margin-left: 20px;
}

.error-message>.ms-MessageBanner {
	background-color: #fde7e9;
	color: #a80000;
}

.savingSpaceTitle, .savedSpaceTitle {
	padding-bottom: 15px;
}

#savedAttachment .ms-Icon {
	padding-right: 10px;
}

.selectableItem:hover {
	cursor: pointer;
	background-color: #eaeaea;
	outline: 1px solid transparent;
}

.pathInfo {
	font-size: 14px !important;
	display: block !important;
}

#path-info>.ms-ListItem {
	padding-left: 0px;
	padding-right: 0px;
}

.currentFolder .pathControls {
	top: 25px !important;
	right: 5px !important;
}

.text-centered {
	text-align: center;
}

.centered {
	min-width: 150px;
	max-width: 450px;
	margin: 0 auto;
}

div.form-buttons {
	marging-top: 10px;
}

.documentSelectorTab {
	padding-top: 0px;
}

.documentSelectorContent {
	min-height: 75px;
	max-height: 175px;
	border-width: 1px;
	border-style: solid;
	min-height: 125px;
	border-top-style: none;
	overflow: scroll;
}

.documentSearch .ms-SearchBox, .documentSearch .ms-SearchBox-field {
	width: 100%;
}

.documentSearch .ms-SearchBox {
	margin-bottom: 0px;
}

#documentSelector .pathControls, #attach .documents .pathControls, .groupPath .pathControls {
	top: 5px !important;
	right: 5px !important;
}

#documentSelector .ms-ListItem-primaryText, #attach .documents .ms-ListItem-primaryText, #attached .documents .ms-ListItem-primaryText {
	padding-right: initial;
}

.groupPath .currentFolder li, .documentExplorer .currentFolder li {
	padding: 0px !important;
}

.documentExplorer .currentFolder .ms-ListItem-primaryText {
	margin: 0px;
	top: 0px !important;
}

.documentExplorer .currentFolder .ms-ListItem-primaryText input {
	font-size: 12px !important;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 40px;
  border-color: #71afe5;
}

.documentSelectorContent .ms-ListItem {
	padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 0px;
}

/* This style adapted from .ms-ListItem.isFolder.is-selected */
.documentSelectorContent .ms-ListItem.isFolder:before, .documentSelectorContent .ms-ListItem.isFolder:hover:before {
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Office365Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  content: '\e014';
  font-size: 15px;
  color: #767676;
  position: absolute;
  top: 6px;
  left: 6px;
}

#attached .documents .ms-ListItem {
	padding-left: 7px;
	padding-right: 7px;
}

#attached .documents .ms-ListItem-primaryText i {
	margin-right: 5px;
}

#attached .documents .ms-ListItem-tertiaryText {
	margin-bottom: -4px;
  padding-right: initial;
  top: -5px;
  margin-bottom: 0px;
  font-size: 11px;
}

.currentFolder .pathControls {
	top: 30px !important;
	right: 5px !important;
}

.activityText {
	height: 125px;
	overflow: hidden;
	padding: 0px;
	position: relative;
}

.activityText:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(transparent 25px, white);
}

.activityEditor {
	height: 200px;
	max-height: 250px;
	overflow: auto;
	padding: 0px;
}

#outlook-pane .ms-MessageBar {
	width: 100%;
}