.outlookMessageActivityContent {
	width: 100% !important;
}

.outlookMessagePreview .uiPreviewWebContent {
	overflow-y: hidden !important;
}

.outlookMessagePreview .fileContent {
	margin-right: initial;
}

.outlookMessagePreview .fileContent, 
	.outlookMessagePreview .outlookMessageViewer,
	.outlookMessageViewer .textContent,
	.outlookMessageViewer iframe {
	height: 100%;
	width: 100%;
}

#UIDocumentContainer .outlookMessageViewer {
	height: 400px;
}

.outlookMessageActivityContent .outlookMessageViewer {
	height: 200px;
}