.outlookMessageActivityContent, .outlookAttachmentActivityContent {
	width: 100% !important;
}

.outlookMessageActivityContent .messageBody:before {
	content:"";
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background: linear-gradient(transparent 100px, white);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 100px, white);
  cursor:pointer;
  z-index: auto;
}

.outlookMessageActivityContent .outlookMessageIframe {
	z-index: -10;
}

.outlookMessagePreview .uiPreviewWebContent {
	overflow-y: hidden !important;
}

.outlookMessagePreview .fileContent {
	margin-right: initial;
}

.outlookMessagePreview .fileContent, .outlookMessagePreview .outlookMessageViewer, .outlookMessageViewer .textContent, .outlookMessageViewer iframe {
	height: 100%;
	width: 100%;
}

.outlookMessagePreview .UIUnResizableBlock {
	height: 100%;
}

#UIDocumentContainer .outlookMessageViewer {
	height: 400px;
}

#documentPreviewContainer .outlookMessageViewer {
	height: 90%;
  padding: 12px;
  background-color: white;
}

.outlookMessageActivityContent .outlookMessageViewer, .outlookMessageActivityContent .outlookMessageViewer .messageBody {
	height: 200px !important;
}

/** NOT USED */
.outlookMessagePreview .messageFooter {
	height: 25px;
  max-height: 3%;
  width: 100%;
  background-color: white;
  position: relative;
  float: left;
}

.outlookMessageActivityContent .messageFooter, .UIDocumentWorkspace .messageFooter {
	height: 0px;
	display: none;
}

/** NOT USED */
.outlookMessagePreview .messageBody {
	height: 97%;
}

.messageBody {
	position: relative;
	float: left;
	box-sizing: border-box;
	padding-left: 7px;
	min-width: 100%;
	max-height: 100%;
	height: 100%;
	border-width: 0px 0px 0px 12px;
	border-style: solid;
	border-color: #999999;
	background-color: white;
}

.attachmentFiles {
	margin-left: 15px;
}

.uiIconOutlookMail:before {
    content: "\e6b8";
}

#OutlookUnifiedSearch .resultLoading {
	top: 40% !important;
	left: 40% !important;
}

@media (max-width: 767px) {
	#OutlookQuickSearch input[name='adminkeyword'], #OutlookUnifiedSearch input#txtQuery {
		font-size: 14px !important;
		box-sizing: border-box !important;
		box-shadow: none !important;
		border: 1px solid #71afe5 !important;
    outline: 1px solid transparent !important;
    border-radius: 0 !important;
    background-color: transparent !important;
	}
}

@media (max-width: 1024px) and (min-width: 481px) {
	#OutlookQuickSearch .btn, #OutlookUnifiedSearch .btn {
		font-size: 14px !important;
	}
}
